---
- name: Deploy Datadog Agent
  hosts: all
  become: yes
  remote_user: ubuntu
  vars:
    datadog_api_key: "{{ lookup('env', 'DD_API_KEY') }}"
    datadog_site: "datadoghq.com"

  tasks:
    - name: Download and Install Datadog Agent
      shell: |
        DD_API_KEY={{ datadog_api_key }} \
        DD_SITE={{ datadog_site }} \
        DD_HOST_TAGS="env:{{ env_tag }}" \
        bash -c "$(curl -L https://s3.amazonaws.com/dd-agent/scripts/install_script_agent7.sh)"

    - name: Enforce Hostname in Configuration
      lineinfile:
        path: /etc/datadog-agent/datadog.yaml
        regexp: '^hostname:'
        line: "hostname: {{ hostname_alias }}"
        create: yes

    - name: Force Restart Datadog Agent
      service:
        name: datadog-agent
        state: restarted
        enabled: yes
