name: 2. Deploy Agent (Ansible + K8s)

on:
  workflow_dispatch: # Manual trigger

jobs:
  configure:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      # ---------------------------------------------------------
      # PHASE 1: FETCH STATE (The "Glue" between pipelines)
      # ---------------------------------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Fetch Infrastructure State
        id: tf-state
        working-directory: ./terraform
        run: |
          terraform init
          
          # 1. Retrieve IPs from Remote State
          DEV_IP=$(terraform output -raw dev_ip)
          TEST_IP=$(terraform output -raw test_ip)
          PROD_IP=$(terraform output -raw prod_ip)
          
          # 2. Retrieve the SSH Private Key from Remote State
          terraform output -raw private_key > ../ansible_key.pem
          chmod 400 ../ansible_key.pem
          
          # 3. Build Inventory File
          echo "[dev]" > ../inventory.ini
          echo "$DEV_IP env_tag=dev hostname_alias=Datadog-Demo-Dev" >> ../inventory.ini
          
          echo "[test]" >> ../inventory.ini
          echo "$TEST_IP env_tag=test hostname_alias=Datadog-Demo-Test" >> ../inventory.ini
          
          echo "[prod]" >> ../inventory.ini
          echo "$PROD_IP env_tag=prod hostname_alias=Datadog-Demo-Prod" >> ../inventory.ini
          
          echo "Inventory Generated Successfully."

      # ---------------------------------------------------------
      # PHASE 2: DEPLOY KUBERNETES & AGENT
      # ---------------------------------------------------------
      - name: Install Ansible K8s Dependencies
        run: |
          pip install kubernetes
          ansible-galaxy collection install kubernetes.core

      - name: Run Ansible Playbook
        working-directory: ./ansible
        run: |
          export ANSIBLE_HOST_KEY_CHECKING=False
          ansible-playbook -i ../inventory.ini playbook.yml \
            --private-key ../ansible_key.pem
