name: Secure Sequential Deployment (Vars Edition)

on:
  workflow_dispatch: # Manual trigger, but config comes from Repo Vars now

permissions:
  id-token: write
  contents: read

jobs:
  # ---------------------------------------------------------
  # JOB 1: PREPARE (Build Inventory & State)
  # ---------------------------------------------------------
  prepare-inventory:
    name: "Gen Inventory"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::404612059897:role/GitHubActionRole
          aws-region: us-east-1

      - uses: hashicorp/setup-terraform@v3

      - name: Generate Inventory & Key
        working-directory: ./terraform
        run: |
          terraform init
          
          # Retrieve SSH Key
          terraform output -raw private_key > ../ansible_key.pem
          chmod 600 ../ansible_key.pem
          
          # Build Inventory File
          DEV_IP=$(terraform output -raw dev_ip)
          TEST_IP=$(terraform output -raw test_ip)
          PROD_IP=$(terraform output -raw prod_ip)

          echo "[dev]" > ../inventory.ini
          echo "$DEV_IP env_tag=dev hostname_alias=Datadog-Demo-Dev" >> ../inventory.ini
          
          echo "[test]" >> ../inventory.ini
          echo "$TEST_IP env_tag=test hostname_alias=Datadog-Demo-Test" >> ../inventory.ini
          
          echo "[prod]" >> ../inventory.ini
          echo "$PROD_IP env_tag=prod hostname_alias=Datadog-Demo-Prod" >> ../inventory.ini

      - uses: actions/upload-artifact@v4
        with:
          name: deployment-artifacts
          path: |
            inventory.ini
            ansible_key.pem
          retention-days: 1
          overwrite: true

  # ---------------------------------------------------------
  # JOB 2: DEPLOY TO DEV
  # ---------------------------------------------------------
  deploy-dev:
    name: "Deploy Dev"
    needs: prepare-inventory
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with: { name: deployment-artifacts }
      - run: chmod 600 ansible_key.pem
      
      - name: Install Dependencies
        run: |
          pip install kubernetes ansible
          ansible-galaxy collection install kubernetes.core
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" && chmod +x kubectl && sudo mv kubectl /usr/local/bin/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::404612059897:role/GitHubActionRole
          aws-region: us-east-1

      - name: Fetch Secrets
        run: |
          SECRET_JSON=$(aws secretsmanager get-secret-value --secret-id prod/datadog/keys --query SecretString --output text)
          echo "DD_API_KEY=$(echo $SECRET_JSON | jq -r .DD_API_KEY)" >> $GITHUB_ENV

      # USING REPOSITORY VARIABLES (vars.X)
      - name: Run Playbook (DEV)
        run: |
          export ANSIBLE_HOST_KEY_CHECKING=False
          ansible-playbook -i inventory.ini ansible/playbook.yml \
            --private-key ansible_key.pem \
            --limit dev \
            --extra-vars "datadog_api_key=${{ env.DD_API_KEY }} \
            process_agent_enabled=${{ vars.PROCESS_AGENT_ENABLED }} \
            logs_enabled=${{ vars.LOGS_ENABLED }} \
            agent_request_memory=${{ vars.AGENT_REQ_MEM }} \
            agent_limit_memory=${{ vars.AGENT_LIM_MEM }} \
            agent_request_cpu=${{ vars.AGENT_REQ_CPU }} \
            agent_limit_cpu=${{ vars.AGENT_LIM_CPU }}"

      - name: "Health Check (DEV)"
        run: |
          echo "--- VERIFYING DEV ROLLOUT ---"
          export ANSIBLE_HOST_KEY_CHECKING=False
          ansible dev -i inventory.ini --private-key ansible_key.pem \
            -u ubuntu --become \
            -m shell -a "export PATH=\$PATH:/snap/bin; microk8s kubectl rollout status daemonset/datadog-agent -n datadog-agent --timeout=60s"

  # ---------------------------------------------------------
  # JOB 3: DEPLOY TO TEST
  # ---------------------------------------------------------
  deploy-test:
    name: "Deploy Test"
    needs: deploy-dev
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with: { name: deployment-artifacts }
      - run: chmod 600 ansible_key.pem

      - name: Install Dependencies
        run: |
          pip install kubernetes ansible
          ansible-galaxy collection install kubernetes.core
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" && chmod +x kubectl && sudo mv kubectl /usr/local/bin/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::404612059897:role/GitHubActionRole
          aws-region: us-east-1

      - name: Fetch Secrets
        run: |
          SECRET_JSON=$(aws secretsmanager get-secret-value --secret-id prod/datadog/keys --query SecretString --output text)
          echo "DD_API_KEY=$(echo $SECRET_JSON | jq -r .DD_API_KEY)" >> $GITHUB_ENV

      - name: Run Playbook (TEST)
        run: |
          export ANSIBLE_HOST_KEY_CHECKING=False
          ansible-playbook -i inventory.ini ansible/playbook.yml \
            --private-key ansible_key.pem \
            --limit test \
            --extra-vars "datadog_api_key=${{ env.DD_API_KEY }} \
            process_agent_enabled=${{ vars.PROCESS_AGENT_ENABLED }} \
            logs_enabled=${{ vars.LOGS_ENABLED }} \
            agent_request_memory=${{ vars.AGENT_REQ_MEM }} \
            agent_limit_memory=${{ vars.AGENT_LIM_MEM }} \
            agent_request_cpu=${{ vars.AGENT_REQ_CPU }} \
            agent_limit_cpu=${{ vars.AGENT_LIM_CPU }}"

      - name: "Health Check (TEST)"
        run: |
          echo "--- VERIFYING TEST ROLLOUT ---"
          export ANSIBLE_HOST_KEY_CHECKING=False
          ansible test -i inventory.ini --private-key ansible_key.pem \
            -u ubuntu --become \
            -m shell -a "export PATH=\$PATH:/snap/bin; microk8s kubectl rollout status daemonset/datadog-agent -n datadog-agent --timeout=60s"

  # ---------------------------------------------------------
  # JOB 4: DEPLOY TO PROD
  # ---------------------------------------------------------
  deploy-prod:
    name: "Deploy Prod"
    needs: deploy-test
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with: { name: deployment-artifacts }
      - run: chmod 600 ansible_key.pem

      - name: Install Dependencies
        run: |
          pip install kubernetes ansible
          ansible-galaxy collection install kubernetes.core
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" && chmod +x kubectl && sudo mv kubectl /usr/local/bin/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::404612059897:role/GitHubActionRole
          aws-region: us-east-1

      - name: Fetch Secrets
        run: |
          SECRET_JSON=$(aws secretsmanager get-secret-value --secret-id prod/datadog/keys --query SecretString --output text)
          echo "DD_API_KEY=$(echo $SECRET_JSON | jq -r .DD_API_KEY)" >> $GITHUB_ENV

      - name: Run Playbook (PROD)
        run: |
          export ANSIBLE_HOST_KEY_CHECKING=False
          ansible-playbook -i inventory.ini ansible/playbook.yml \
            --private-key ansible_key.pem \
            --limit prod \
            --extra-vars "datadog_api_key=${{ env.DD_API_KEY }} \
            process_agent_enabled=${{ vars.PROCESS_AGENT_ENABLED }} \
            logs_enabled=${{ vars.LOGS_ENABLED }} \
            agent_request_memory=${{ vars.AGENT_REQ_MEM }} \
            agent_limit_memory=${{ vars.AGENT_LIM_MEM }} \
            agent_request_cpu=${{ vars.AGENT_REQ_CPU }} \
            agent_limit_cpu=${{ vars.AGENT_LIM_CPU }}"

      - name: "Health Check (PROD)"
        run: |
          echo "--- VERIFYING PROD ROLLOUT ---"
          export ANSIBLE_HOST_KEY_CHECKING=False
          ansible prod -i inventory.ini --private-key ansible_key.pem \
            -u ubuntu --become \
            -m shell -a "export PATH=\$PATH:/snap/bin; microk8s kubectl rollout status daemonset/datadog-agent -n datadog-agent --timeout=60s"
