name: Secure Sequential Deployment
on:
  workflow_dispatch: 
    inputs:
      # --- Feature Flags ---
      process_agent_enabled:
        description: 'Enable Process Agent?'
        type: boolean
        required: true
        default: true
      logs_enabled:
        description: 'Enable Log Collection?'
        type: boolean
        required: true
        default: true

      # --- Resource Sizing (The "Profiling" Inputs) ---
      agent_req_mem:
        description: 'Memory Request'
        default: '256Mi'
      agent_lim_mem:
        description: 'Memory Limit'
        default: '512Mi'
      agent_req_cpu:
        description: 'CPU Request'
        default: '200m'
      agent_lim_cpu:
        description: 'CPU Limit'
        default: '500m'

permissions:
  id-token: write
  contents: read

jobs:
  # ---------------------------------------------------------
  # JOB 1: PREPARE (Build Inventory & State)
  # ---------------------------------------------------------
  prepare-inventory:
    name: "Gen Inventory"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::404612059897:role/GitHubActionRole
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Generate Inventory & Key
        working-directory: ./terraform
        run: |
          terraform init
          
          # Retrieve SSH Key
          terraform output -raw private_key > ../ansible_key.pem
          chmod 600 ../ansible_key.pem
          
          # Build Inventory File
          DEV_IP=$(terraform output -raw dev_ip)
          TEST_IP=$(terraform output -raw test_ip)
          PROD_IP=$(terraform output -raw prod_ip)

          echo "[dev]" > ../inventory.ini
          echo "$DEV_IP env_tag=dev hostname_alias=Datadog-Demo-Dev" >> ../inventory.ini
          
          echo "[test]" >> ../inventory.ini
          echo "$TEST_IP env_tag=test hostname_alias=Datadog-Demo-Test" >> ../inventory.ini
          
          echo "[prod]" >> ../inventory.ini
          echo "$PROD_IP env_tag=prod hostname_alias=Datadog-Demo-Prod" >> ../inventory.ini

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: deployment-artifacts
          path: |
            inventory.ini
            ansible_key.pem
          retention-days: 1
          overwrite: true

  # ---------------------------------------------------------
  # JOB 2: DEPLOY TO DEV (Automatic)
  # ---------------------------------------------------------
  deploy-dev:
    name: "Deploy Dev"
    needs: prepare-inventory
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/download-artifact@v4
        with: 
          name: deployment-artifacts
          
      - run: chmod 600 ansible_key.pem
      
      - name: Install Ansible Dependencies
        run: |
          pip install kubernetes ansible
          ansible-galaxy collection install kubernetes.core
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" && chmod +x kubectl && sudo mv kubectl /usr/local/bin/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::404612059897:role/GitHubActionRole
          aws-region: us-east-1
      - run: |
          SECRET_JSON=$(aws secretsmanager get-secret-value --secret-id prod/datadog/keys --query SecretString --output text)
          echo "DD_API_KEY=$(echo $SECRET_JSON | jq -r .DD_API_KEY)" >> $GITHUB_ENV

      - name: Run Playbook (DEV)
        run: |
          export ANSIBLE_HOST_KEY_CHECKING=False
          # FIXED: Pointing to ansible/playbook.yml
          ansible-playbook -i inventory.ini ansible/playbook.yml \
            --private-key ansible_key.pem \
            --limit dev \
            --extra-vars "datadog_api_key=${{ env.DD_API_KEY }} process_agent_enabled=${{ inputs.process_agent_enabled }} logs_enabled=${{ inputs.logs_enabled }} agent_request_memory=${{ inputs.agent_req_mem }} agent_limit_memory=${{ inputs.agent_lim_mem }} agent_request_cpu=${{ inputs.agent_req_cpu }} agent_limit_cpu=${{ inputs.agent_lim_cpu }}"

  # ---------------------------------------------------------
  # JOB 3: DEPLOY TO TEST
  # ---------------------------------------------------------
  deploy-test:
    name: "Deploy Test"
    needs: deploy-dev
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/download-artifact@v4
        with: 
          name: deployment-artifacts
          
      - run: chmod 600 ansible_key.pem

      - name: Install Ansible Dependencies
        run: |
          pip install kubernetes ansible
          ansible-galaxy collection install kubernetes.core
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" && chmod +x kubectl && sudo mv kubectl /usr/local/bin/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::404612059897:role/GitHubActionRole
          aws-region: us-east-1
      - run: |
          SECRET_JSON=$(aws secretsmanager get-secret-value --secret-id prod/datadog/keys --query SecretString --output text)
          echo "DD_API_KEY=$(echo $SECRET_JSON | jq -r .DD_API_KEY)" >> $GITHUB_ENV

      - name: Run Playbook (TEST)
        run: |
          export ANSIBLE_HOST_KEY_CHECKING=False
          # FIXED: Pointing to ansible/playbook.yml
          ansible-playbook -i inventory.ini ansible/playbook.yml \
            --private-key ansible_key.pem \
            --limit test \
            --extra-vars "datadog_api_key=${{ env.DD_API_KEY }} process_agent_enabled=${{ inputs.process_agent_enabled }} logs_enabled=${{ inputs.logs_enabled }} agent_request_memory=${{ inputs.agent_req_mem }} agent_limit_memory=${{ inputs.agent_lim_mem }} agent_request_cpu=${{ inputs.agent_req_cpu }} agent_limit_cpu=${{ inputs.agent_lim_cpu }}"

  # ---------------------------------------------------------
  # JOB 4: DEPLOY TO PROD (The Gate)
  # ---------------------------------------------------------
  deploy-prod:
    name: "Deploy Prod"
    needs: deploy-test
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/download-artifact@v4
        with: 
          name: deployment-artifacts
          
      - run: chmod 600 ansible_key.pem

      - name: Install Ansible Dependencies
        run: |
          pip install kubernetes ansible
          ansible-galaxy collection install kubernetes.core
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" && chmod +x kubectl && sudo mv kubectl /usr/local/bin/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::404612059897:role/GitHubActionRole
          aws-region: us-east-1
      - run: |
          SECRET_JSON=$(aws secretsmanager get-secret-value --secret-id prod/datadog/keys --query SecretString --output text)
          echo "DD_API_KEY=$(echo $SECRET_JSON | jq -r .DD_API_KEY)" >> $GITHUB_ENV

      - name: Run Playbook (PROD)
        run: |
          export ANSIBLE_HOST_KEY_CHECKING=False
          # FIXED: Pointing to ansible/playbook.yml
          ansible-playbook -i inventory.ini ansible/playbook.yml \
            --private-key ansible_key.pem \
            --limit prod \
            --extra-vars "datadog_api_key=${{ env.DD_API_KEY }} process_agent_enabled=${{ inputs.process_agent_enabled }} logs_enabled=${{ inputs.logs_enabled }} agent_request_memory=${{ inputs.agent_req_mem }} agent_limit_memory=${{ inputs.agent_lim_mem }} agent_request_cpu=${{ inputs.agent_req_cpu }} agent_limit_cpu=${{ inputs.agent_lim_cpu }}"
