name: Deploy Infrastructure & Agent

on:
  workflow_dispatch: # Allows you to manually trigger the button during the demo

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init & Apply
        id: terraform
        run: |
          terraform init
          terraform apply -auto-approve
          
          # Capture IPs for Ansible Inventory
          echo "[dev]" > inventory.ini
          echo "$(terraform output -raw dev_ip) env_tag=dev" >> inventory.ini
          
          echo "[test]" >> inventory.ini
          echo "$(terraform output -raw test_ip) env_tag=test" >> inventory.ini
          
          echo "[prod]" >> inventory.ini
          echo "$(terraform output -raw prod_ip) env_tag=prod" >> inventory.ini

      - name: Setup SSH Key
        run: |
          # The key was generated by Terraform in the previous step
          chmod 400 ansible_key.pem

      - name: Run Ansible Playbook
        run: |
          # Disable host key checking for automation simplicity
          export ANSIBLE_HOST_KEY_CHECKING=False
          
          ansible-playbook -i inventory.ini playbook.yml \
            --private-key ansible_key.pem
