name: Deploy Infrastructure & Agent

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      # ---------------------------------------------------------
      # STEP 1: INFRASTRUCTURE (Run inside /terraform folder)
      # ---------------------------------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init & Apply
        id: terraform
        working-directory: ./terraform
        run: |
          terraform init
          terraform apply -auto-approve
          
          # Create inventory in the PARENT directory so Ansible can find it easily
          echo "[dev]" > ../inventory.ini
          echo "$(terraform output -raw dev_ip) env_tag=dev" >> ../inventory.ini
          
          echo "[test]" >> ../inventory.ini
          echo "$(terraform output -raw test_ip) env_tag=test" >> ../inventory.ini
          
          echo "[prod]" >> ../inventory.ini
          echo "$(terraform output -raw prod_ip) env_tag=prod" >> ../inventory.ini

      # ---------------------------------------------------------
      # STEP 2: CONFIGURATION (Run inside /ansible folder)
      # ---------------------------------------------------------
      - name: Setup SSH Key
        run: |
          # The key is generated inside /terraform, we need to move/permission it
          mv terraform/ansible_key.pem .
          chmod 400 ansible_key.pem

      - name: Run Ansible Playbook
        working-directory: ./ansible  # <--- CRITICAL CHANGE
        run: |
          export ANSIBLE_HOST_KEY_CHECKING=False
          
          # Point to inventory in root (../inventory.ini) 
          # Point to key in root (../ansible_key.pem)
          ansible-playbook -i ../inventory.ini playbook.yml \
            --private-key ../ansible_key.pem
